# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.aab
output.json
local.properties
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/